# Cleaning Data with Pandas

A lot of data in realworld projects are going to be bad, out of place or missing. We use Pandas to clean up the data and get the dataset ready for the next step in the data pipeline. 

### Understanding the data

1. Understand the types used for the data
2. Aggregate data - min, max, mean, std deviation. It will help us spot anomaies.
3. Normaize data - Centering the data's distribution around zero or condensing the data into the range of 0 to 1. This is an important step in data processing in machine Learning. 
4. Transforming data - an entire column at a time
5. Filter the data - to only show certain rows and columns. 

# Viewing and Converting types

In [0]:
import pandas as pd

In [0]:
data = pd.read_csv("https://github.com/tategallery/collection/raw/master/artwork_data.csv")
data

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (9,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

           id  ...                                                url
0        1035  ...  http://www.tate.org.uk/art/artworks/blake-a-fi...
1        1036  ...  http://www.tate.org.uk/art/artworks/blake-two-...
2        1037  ...  http://www.tate.org.uk/art/artworks/blake-the-...
3        1038  ...  http://www.tate.org.uk/art/artworks/blake-six-...
4        1039  ...  http://www.tate.org.uk/art/artworks/blake-the-...
5        1040  ...  http://www.tate.org.uk/art/artworks/blake-ciam...
6        1041  ...  http://www.tate.org.uk/art/artworks/blake-the-...
7        1042  ...  http://www.tate.org.uk/art/artworks/blake-the-...
8        1043  ...  http://www.tate.org.uk/art/artworks/blake-the-...
9        1044  ...  http://www.tate.org.uk/art/artworks/blake-the-...
10       1045  ...  http://www.tate.org.uk/art/artworks/blake-dant...
11       1046  ...  http://www.tate.org.uk/art/artworks/blake-job-...
12       1047  ...  http://www.tate.org.uk/art/artworks/blake-sata...
13       1048  ...  http://www.tate.org.uk/art/artworks/blake-jobs...
14       1049  ...  http://www.tate.org.uk/art/artworks/blake-the-...
15       1050  ...  http://www.tate.org.uk/art/artworks/blake-sata...
16       1051  ...  http://www.tate.org.uk/art/artworks/blake-sata...
17       1052  ...  http://www.tate.org.uk/art/artworks/blake-jobs...
18       1053  ...  http://www.tate.org.uk/art/artworks/blake-jobs...
19       1054  ...  http://www.tate.org.uk/art/artworks/blake-the-...
20       1055  ...  http://www.tate.org.uk/art/artworks/blake-job-...
21       1056  ...  http://www.tate.org.uk/art/artworks/blake-jobs...
22       1057  ...  http://www.tate.org.uk/art/artworks/blake-the-...
23       1058  ...  http://www.tate.org.uk/art/artworks/blake-the-...
24       1059  ...  http://www.tate.org.uk/art/artworks/blake-when...
25       1060  ...  http://www.tate.org.uk/art/artworks/blake-behe...
26       1061  ...  http://www.tate.org.uk/art/artworks/blake-the-...
27       1062  ...  http://www.tate.org.uk/art/artworks/blake-the-...
28       1063  ...  http://www.tate.org.uk/art/artworks/blake-jobs...
29       1064  ...  http://www.tate.org.uk/art/artworks/blake-ever...
...       ...  ...                                                ...
69171  121196  ...  http://www.tate.org.uk/art/artworks/barlow-unt...
69172  121197  ...  http://www.tate.org.uk/art/artworks/barlow-unt...
69173  121198  ...  http://www.tate.org.uk/art/artworks/barlow-unt...
69174  115637  ...  http://www.tate.org.uk/art/artworks/latham-une...
69175  115638  ...  http://www.tate.org.uk/art/artworks/latham-enc...
69176  122545  ...  http://www.tate.org.uk/art/artworks/kirkeby-co...
69177  120104  ...  http://www.tate.org.uk/art/artworks/karamustaf...
69178  121565  ...  http://www.tate.org.uk/art/artworks/walker-wil...
69179  116157  ...  http://www.tate.org.uk/art/artworks/bulloch-al...
69180  117761  ...  http://www.tate.org.uk/art/artworks/atlas-join...
69181  115217  ...  http://www.tate.org.uk/art/artworks/t-r-uthco-...
69182  122537  ...  http://www.tate.org.uk/art/artworks/gordon-fea...
69183  120527  ...  http://www.tate.org.uk/art/artworks/black-at-f...
69184  127128  ...  http://www.tate.org.uk/art/artworks/lord-three...
69185  127129  ...  http://www.tate.org.uk/art/artworks/lord-bitin...
69186  127130  ...  http://www.tate.org.uk/art/artworks/lord-breat...
69187  127131  ...  http://www.tate.org.uk/art/artworks/lord-untit...
69188  121283  ...  http://www.tate.org.uk/art/artworks/rhodes-lig...
69189  129068  ...  http://www.tate.org.uk/art/artworks/lord-coffe...
69190  117863  ...  http://www.tate.org.uk/art/artworks/andrade-tr...
69191  120549  ...  http://www.tate.org.uk/art/artworks/oursler-th...
69192  123620  ...  http://www.tate.org.uk/art/artworks/sterne-ny-...
69193  122900  ...  http://www.tate.org.uk/art/artworks/flanagan-s...
69194  122958  ...  http://www.tate.org.uk/art/artworks/p-orridge-...
69195  122959  ...  http://www.tate.org.uk/art/artworks/p-orridge-...
69196  122960  ...  http://www.tate.org.uk/art/artworks/p-orridge-...
69197  122961  ...  http://www.tate.org.uk/art/artworks/p-orridge-...
69198  121181  ...  http://www.tate.org.uk/art/artworks/hatoum-pre...
69199  112306  ...  http://www.tate.org.uk/art/artworks/creed-work...
69200  127035  ...  http://www.tate.org.uk/art/artworks/brunias-da...

[69201 rows x 20 columns]

In [0]:
# for simplicity, I'm selecting only a few rows in this dataset.

data = data[:10]
data

     id  ...                                                url
0  1035  ...  http://www.tate.org.uk/art/artworks/blake-a-fi...
1  1036  ...  http://www.tate.org.uk/art/artworks/blake-two-...
2  1037  ...  http://www.tate.org.uk/art/artworks/blake-the-...
3  1038  ...  http://www.tate.org.uk/art/artworks/blake-six-...
4  1039  ...  http://www.tate.org.uk/art/artworks/blake-the-...
5  1040  ...  http://www.tate.org.uk/art/artworks/blake-ciam...
6  1041  ...  http://www.tate.org.uk/art/artworks/blake-the-...
7  1042  ...  http://www.tate.org.uk/art/artworks/blake-the-...
8  1043  ...  http://www.tate.org.uk/art/artworks/blake-the-...
9  1044  ...  http://www.tate.org.uk/art/artworks/blake-the-...

[10 rows x 20 columns]

In [0]:
data.dtypes

# object here means String.

id                      int64
accession_number       object
artist                 object
artistRole             object
artistId                int64
title                  object
dateText               object
medium                 object
creditLine             object
year                   object
acquisitionYear       float64
dimensions             object
width                  object
height                 object
depth                 float64
units                  object
inscription            object
thumbnailCopyright     object
thumbnailUrl           object
url                    object
dtype: object

In [0]:
data.acquisitionYear

0    1922.0
1    1922.0
2    1922.0
3    1922.0
4    1919.0
5    1919.0
6    1919.0
7    1919.0
8    1919.0
9    1919.0
Name: acquisitionYear, dtype: float64

In [0]:
data.acquisitionYear.astype(int)

0    1922
1    1922
2    1922
3    1922
4    1919
5    1919
6    1919
7    1919
8    1919
9    1919
Name: acquisitionYear, dtype: int64

In [0]:
# the original column remains a float tho. astype() doesn't change the original data. Rather, it returns a brand new series.
data.acquisitionYear

0    1922.0
1    1922.0
2    1922.0
3    1922.0
4    1919.0
5    1919.0
6    1919.0
7    1919.0
8    1919.0
9    1919.0
Name: acquisitionYear, dtype: float64

In [0]:
# To set it permanently

data.acquisitionYear = data.acquisitionYear.astype(int)
data.acquisitionYear

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

0    1922
1    1922
2    1922
3    1922
4    1919
5    1919
6    1919
7    1919
8    1919
9    1919
Name: acquisitionYear, dtype: int64

In [0]:
# changing back to float

data.acquisitionYear = data.acquisitionYear.astype(float)
data.acquisitionYear

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

0    1922.0
1    1922.0
2    1922.0
3    1922.0
4    1919.0
5    1919.0
6    1919.0
7    1919.0
8    1919.0
9    1919.0
Name: acquisitionYear, dtype: float64

In [0]:
fullData = pd.read_csv("https://github.com/tategallery/collection/raw/master/artwork_data.csv", low_memory = False)
fullData.head()

     id  ...                                                url
0  1035  ...  http://www.tate.org.uk/art/artworks/blake-a-fi...
1  1036  ...  http://www.tate.org.uk/art/artworks/blake-two-...
2  1037  ...  http://www.tate.org.uk/art/artworks/blake-the-...
3  1038  ...  http://www.tate.org.uk/art/artworks/blake-six-...
4  1039  ...  http://www.tate.org.uk/art/artworks/blake-the-...

[5 rows x 20 columns]

In [0]:
# When read_csv() reads the csv, it has to guess the data types of the columns. When it encounters bad values, it can't set dtype. Hence, it assignes object as dtype.

fullData.dtypes

id                      int64
accession_number       object
artist                 object
artistRole             object
artistId                int64
title                  object
dateText               object
medium                 object
creditLine             object
year                   object
acquisitionYear       float64
dimensions             object
width                  object
height                 object
depth                 float64
units                  object
inscription            object
thumbnailCopyright     object
thumbnailUrl           object
url                    object
dtype: object

In [0]:
fullData.height.astype(float)

ValueError: ignored

In [0]:
# It gives an error as it has atleast one element as "mm" which it cannot parse as a float. This, if it cannot guess what the number was, wil convert it to nan.

pd.to_numeric(fullData.height, errors = 'coerce')

0         419.0
1         213.0
2         467.0
3         394.0
4         335.0
5         338.0
6         334.0
7         340.0
8         335.0
9         340.0
10        340.0
11        150.0
12        151.0
13        153.0
14        152.0
15        152.0
16        153.0
17        153.0
18        150.0
19        152.0
20        152.0
21        152.0
22        151.0
23        151.0
24        150.0
25        151.0
26        150.0
27        151.0
28        150.0
29        150.0
          ...
69171     760.0
69172     566.0
69173     762.0
69174       NaN
69175       NaN
69176    1679.0
69177       NaN
69178       NaN
69179       NaN
69180       NaN
69181       NaN
69182       NaN
69183       NaN
69184     267.0
69185     470.0
69186     205.0
69187     317.0
69188       NaN
69189      57.0
69190       NaN
69191       NaN
69192    1155.0
69193       NaN
69194     305.0
69195     305.0
69196     305.0
69197     305.0
69198    2410.0
69199       NaN
69200     660.0
Name: height, Length: 69201, dtype: float64

In [0]:
# making the dtype change permanent

fullData.height = pd.to_numeric(fullData.height, errors = 'coerce')
fullData.height.dtype

dtype('float64')

# Aggregating Data

NaNs are automatically excluded from the aggregate functions. We can even apply aggregate functions on strings. But not every function will work. sum() concatnates all teh strings.

In [0]:
data = fullData[:10]
data

     id  ...                                                url
0  1035  ...  http://www.tate.org.uk/art/artworks/blake-a-fi...
1  1036  ...  http://www.tate.org.uk/art/artworks/blake-two-...
2  1037  ...  http://www.tate.org.uk/art/artworks/blake-the-...
3  1038  ...  http://www.tate.org.uk/art/artworks/blake-six-...
4  1039  ...  http://www.tate.org.uk/art/artworks/blake-the-...
5  1040  ...  http://www.tate.org.uk/art/artworks/blake-ciam...
6  1041  ...  http://www.tate.org.uk/art/artworks/blake-the-...
7  1042  ...  http://www.tate.org.uk/art/artworks/blake-the-...
8  1043  ...  http://www.tate.org.uk/art/artworks/blake-the-...
9  1044  ...  http://www.tate.org.uk/art/artworks/blake-the-...

[10 rows x 20 columns]

In [0]:
data.acquisitionYear

0    1922.0
1    1922.0
2    1922.0
3    1922.0
4    1919.0
5    1919.0
6    1919.0
7    1919.0
8    1919.0
9    1919.0
Name: acquisitionYear, dtype: float64

In [0]:
data.acquisitionYear.min()

1919.0

In [0]:
data.acquisitionYear.max()

1922.0

In [0]:
data.acquisitionYear.mean()

1920.2

In [0]:
data.acquisitionYear.std()

1.5491933384829668

In [0]:
# aggregate function agg() will apply the aggregate functions across the dataframe.

data.agg('min')

id                                                                 1035
accession_number                                                 A00001
artist                                                    Blake, Robert
artistRole                                                       artist
artistId                                                             38
title                 A Figure Bowing before a Seated Old Man with h...
dateText                                         1826â€“7, reprinted 1892
medium                                                Graphite on paper
creditLine                          Presented by Mrs John Richmond 1922
acquisitionYear                                                    1919
dimensions                                          image: 240 x 338 mm
width                                                               240
height                                                              213
depth                                                               NaN
units                                                                mm
inscription                                                         NaN
thumbnailCopyright                                                  NaN
thumbnailUrl          http://www.tate.org.uk/art/images/work/A/A00/A...
url                   http://www.tate.org.uk/art/artworks/blake-a-fi...
dtype: object

In [0]:
# doing multiple aggregations

data.agg(['min', 'max', 'mean', 'std'])

              id  ...                                                url
min   1035.00000  ...  http://www.tate.org.uk/art/artworks/blake-a-fi...
max   1044.00000  ...  http://www.tate.org.uk/art/artworks/blake-two-...
mean  1039.50000  ...                                                NaN
std      3.02765  ...                                                NaN

[4 rows x 19 columns]

# Normalizing Data

THe columns we're gonna normalize is either a float or an int. Otherwis, it doesn't make sense. Before normalization, do all he aggregation functions. min, max, mean, std. Normalization means to adjust the values in a column and change their scae. There are so many ways to normalize data. 

1. subtract the mean and divide by the standard deviation.
2. Normalize the elements between zero and one.

In [0]:
# this is a float, so can normaize.
data.height.dtype

dtype('float64')

In [0]:
data.height.min()

213.0

In [0]:
data.height.max()

467.0

In [0]:
data.height.mean()

351.5

In [0]:
data.height.std()

66.81857692455162

In [0]:
height = data.height
height

0    419.0
1    213.0
2    467.0
3    394.0
4    335.0
5    338.0
6    334.0
7    340.0
8    335.0
9    340.0
Name: height, dtype: float64

In [0]:
# This is called Standardization in Statistics.

norm = (height - height.mean()) / height.std()
norm

0    1.010198
1   -2.072777
2    1.728561
3    0.636051
4   -0.246937
5   -0.202040
6   -0.261903
7   -0.172108
8   -0.246937
9   -0.172108
Name: height, dtype: float64

In [0]:
# To get the values between zero and one

minmax = (height - height.min())/(height.max() - height.min())
minmax

0    0.811024
1    0.000000
2    1.000000
3    0.712598
4    0.480315
5    0.492126
6    0.476378
7    0.500000
8    0.480315
9    0.500000
Name: height, dtype: float64

In [0]:
minmax.min()

0.0

In [0]:
minmax.max()

1.0

In [0]:
# seeing the min() and max() results, we've successfully normalized the values between zero and 1.  Now, setting the normalized heights to the dataframe.
data.height = minmax
data

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

     id  ...                                                url
0  1035  ...  http://www.tate.org.uk/art/artworks/blake-a-fi...
1  1036  ...  http://www.tate.org.uk/art/artworks/blake-two-...
2  1037  ...  http://www.tate.org.uk/art/artworks/blake-the-...
3  1038  ...  http://www.tate.org.uk/art/artworks/blake-six-...
4  1039  ...  http://www.tate.org.uk/art/artworks/blake-the-...
5  1040  ...  http://www.tate.org.uk/art/artworks/blake-ciam...
6  1041  ...  http://www.tate.org.uk/art/artworks/blake-the-...
7  1042  ...  http://www.tate.org.uk/art/artworks/blake-the-...
8  1043  ...  http://www.tate.org.uk/art/artworks/blake-the-...
9  1044  ...  http://www.tate.org.uk/art/artworks/blake-the-...

[10 rows x 20 columns]

In [0]:
# Adding a new column to the dataframe

data['standardizedHeights'] = norm
data

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

     id accession_number  ... standardized_heights standardizedHeights
0  1035           A00001  ...             1.010198            1.010198
1  1036           A00002  ...            -2.072777           -2.072777
2  1037           A00003  ...             1.728561            1.728561
3  1038           A00004  ...             0.636051            0.636051
4  1039           A00005  ...            -0.246937           -0.246937
5  1040           A00006  ...            -0.202040           -0.202040
6  1041           A00007  ...            -0.261903           -0.261903
7  1042           A00008  ...            -0.172108           -0.172108
8  1043           A00009  ...            -0.246937           -0.246937
9  1044           A00010  ...            -0.172108           -0.172108

[10 rows x 22 columns]

# Transforming Data

transform() function takes a function and returns what ever the function returns.

In [0]:
df = pd.read_csv("https://github.com/tategallery/collection/raw/master/artwork_data.csv")
data = df[:10]

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (9,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
data.height

0    419
1    213
2    467
3    394
4    335
5    338
6    334
7    340
8    335
9    340
Name: height, dtype: object

In [0]:
# Transforming height from mm to cm

data.height = data.height.transform(lambda x: x / 10)
data.height

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

0    41.9
1    21.3
2    46.7
3    39.4
4    33.5
5    33.8
6    33.4
7    34.0
8    33.5
9    34.0
Name: height, dtype: float64

In [0]:
data.groupby('artist')

In [0]:
# this will count the no. of unique row and unique columns per row and column.
# for every 4 works by Blake, there are 3 mediums used.
# for every 6 works of Blake, only one medium is used.

data.groupby('artist').transform('nunique')

   id  accession_number  artistRole  ...  thumbnailCopyright  thumbnailUrl  url
0   4                 4           1  ...                   0             4    4
1   4                 4           1  ...                   0             4    4
2   4                 4           1  ...                   0             4    4
3   4                 4           1  ...                   0             4    4
4   6                 6           1  ...                   0             6    6
5   6                 6           1  ...                   0             6    6
6   6                 6           1  ...                   0             6    6
7   6                 6           1  ...                   0             6    6
8   6                 6           1  ...                   0             6    6
9   6                 6           1  ...                   0             6    6

[10 rows x 19 columns]

In [0]:
# mean of teh height column per artist

data.groupby('artist')['height'].transform('mean')

0    37.325
1    37.325
2    37.325
3    37.325
4    33.700
5    33.700
6    33.700
7    33.700
8    33.700
9    33.700
Name: height, dtype: float64

In [0]:
data.artist

0     Blake, Robert
1     Blake, Robert
2     Blake, Robert
3     Blake, Robert
4    Blake, William
5    Blake, William
6    Blake, William
7    Blake, William
8    Blake, William
9    Blake, William
Name: artist, dtype: object

In [0]:
data['meanHeightOfArtist'] = data.groupby('artist')['height'].transform('mean')
data

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

     id  ... meanHeightOfArtist
0  1035  ...             37.325
1  1036  ...             37.325
2  1037  ...             37.325
3  1038  ...             37.325
4  1039  ...             33.700
5  1040  ...             33.700
6  1041  ...             33.700
7  1042  ...             33.700
8  1043  ...             33.700
9  1044  ...             33.700

[10 rows x 21 columns]

# Filtering Data

In [0]:
import pandas as pd

df = pd.read_csv('https://github.com/tategallery/collection/raw/master/artwork_data.csv', low_memory = False)
df.head()

     id  ...                                                url
0  1035  ...  http://www.tate.org.uk/art/artworks/blake-a-fi...
1  1036  ...  http://www.tate.org.uk/art/artworks/blake-two-...
2  1037  ...  http://www.tate.org.uk/art/artworks/blake-the-...
3  1038  ...  http://www.tate.org.uk/art/artworks/blake-six-...
4  1039  ...  http://www.tate.org.uk/art/artworks/blake-the-...

[5 rows x 20 columns]

In [0]:
df.filter(items = ['id', 'artist', 'title']).head()

     id          artist                                              title
0  1035   Blake, Robert  A Figure Bowing before a Seated Old Man with h...
1  1036   Blake, Robert  Two Drawings of Frightened Figures, Probably f...
2  1037   Blake, Robert  The Preaching of Warning. Verso: An Old Man En...
3  1038   Blake, Robert     Six Drawings of Figures with Outstretched Arms
4  1039  Blake, William  The Circle of the Lustful: Francesca da Rimini...

In [0]:
# cast sensitive
df.filter(like = 'year').head()

   year
0   NaN
1   NaN
2  1785
3   NaN
4  1826

# Removing and fixing columns with Pandas

We could do any or all of the following:
1. Droping columns
2. Change case
3. Rename columns

Why fix columns? 

1. Collaboration - naming clarity when datasets are shared
2. Interaction - when you use it in your API
3. Big Data - Not to loose data in large systems.

# Dropping Columns

In [0]:
import pandas as pd
df = pd.read_csv("https://github.com/tategallery/collection/raw/master/artwork_data.csv")
data = df[:10]

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (9,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
data[:2]

     id  ...                                                url
0  1035  ...  http://www.tate.org.uk/art/artworks/blake-a-fi...
1  1036  ...  http://www.tate.org.uk/art/artworks/blake-two-...

[2 rows x 20 columns]

In [0]:
data.drop(0)

     id  ...                                                url
1  1036  ...  http://www.tate.org.uk/art/artworks/blake-two-...
2  1037  ...  http://www.tate.org.uk/art/artworks/blake-the-...
3  1038  ...  http://www.tate.org.uk/art/artworks/blake-six-...
4  1039  ...  http://www.tate.org.uk/art/artworks/blake-the-...
5  1040  ...  http://www.tate.org.uk/art/artworks/blake-ciam...
6  1041  ...  http://www.tate.org.uk/art/artworks/blake-the-...
7  1042  ...  http://www.tate.org.uk/art/artworks/blake-the-...
8  1043  ...  http://www.tate.org.uk/art/artworks/blake-the-...
9  1044  ...  http://www.tate.org.uk/art/artworks/blake-the-...

[9 rows x 20 columns]

In [0]:
data.drop(columns = ['id'])

  accession_number  ...                                                url
0           A00001  ...  http://www.tate.org.uk/art/artworks/blake-a-fi...
1           A00002  ...  http://www.tate.org.uk/art/artworks/blake-two-...
2           A00003  ...  http://www.tate.org.uk/art/artworks/blake-the-...
3           A00004  ...  http://www.tate.org.uk/art/artworks/blake-six-...
4           A00005  ...  http://www.tate.org.uk/art/artworks/blake-the-...
5           A00006  ...  http://www.tate.org.uk/art/artworks/blake-ciam...
6           A00007  ...  http://www.tate.org.uk/art/artworks/blake-the-...
7           A00008  ...  http://www.tate.org.uk/art/artworks/blake-the-...
8           A00009  ...  http://www.tate.org.uk/art/artworks/blake-the-...
9           A00010  ...  http://www.tate.org.uk/art/artworks/blake-the-...

[10 rows x 19 columns]

In [0]:
data.drop(labels = [0, 1, 2])

     id  ...                                                url
3  1038  ...  http://www.tate.org.uk/art/artworks/blake-six-...
4  1039  ...  http://www.tate.org.uk/art/artworks/blake-the-...
5  1040  ...  http://www.tate.org.uk/art/artworks/blake-ciam...
6  1041  ...  http://www.tate.org.uk/art/artworks/blake-the-...
7  1042  ...  http://www.tate.org.uk/art/artworks/blake-the-...
8  1043  ...  http://www.tate.org.uk/art/artworks/blake-the-...
9  1044  ...  http://www.tate.org.uk/art/artworks/blake-the-...

[7 rows x 20 columns]

In [0]:
# everything we dropped are stil there. To make them permanent, we need to set inplace = True in the drop() method.
data

     id  ...                                                url
0  1035  ...  http://www.tate.org.uk/art/artworks/blake-a-fi...
1  1036  ...  http://www.tate.org.uk/art/artworks/blake-two-...
2  1037  ...  http://www.tate.org.uk/art/artworks/blake-the-...
3  1038  ...  http://www.tate.org.uk/art/artworks/blake-six-...
4  1039  ...  http://www.tate.org.uk/art/artworks/blake-the-...
5  1040  ...  http://www.tate.org.uk/art/artworks/blake-ciam...
6  1041  ...  http://www.tate.org.uk/art/artworks/blake-the-...
7  1042  ...  http://www.tate.org.uk/art/artworks/blake-the-...
8  1043  ...  http://www.tate.org.uk/art/artworks/blake-the-...
9  1044  ...  http://www.tate.org.uk/art/artworks/blake-the-...

[10 rows x 20 columns]

In [0]:
data.drop(columns = ['id'], inplace = True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [0]:
data

  accession_number  ...                                                url
0           A00001  ...  http://www.tate.org.uk/art/artworks/blake-a-fi...
1           A00002  ...  http://www.tate.org.uk/art/artworks/blake-two-...
2           A00003  ...  http://www.tate.org.uk/art/artworks/blake-the-...
3           A00004  ...  http://www.tate.org.uk/art/artworks/blake-six-...
4           A00005  ...  http://www.tate.org.uk/art/artworks/blake-the-...
5           A00006  ...  http://www.tate.org.uk/art/artworks/blake-ciam...
6           A00007  ...  http://www.tate.org.uk/art/artworks/blake-the-...
7           A00008  ...  http://www.tate.org.uk/art/artworks/blake-the-...
8           A00009  ...  http://www.tate.org.uk/art/artworks/blake-the-...
9           A00010  ...  http://www.tate.org.uk/art/artworks/blake-the-...

[10 rows x 19 columns]

In [0]:
  # To import only the required columns
  
  df = pd.read_csv("https://github.com/tategallery/collection/raw/master/artwork_data.csv", usecols = ['id', 'artist', 'title'])
  df.head(2)

     id         artist                                              title
0  1035  Blake, Robert  A Figure Bowing before a Seated Old Man with h...
1  1036  Blake, Robert  Two Drawings of Frightened Figures, Probably f...

# Changing Column Casing

In [0]:
df = pd.read_csv("https://github.com/tategallery/collection/raw/master/artwork_data.csv")
df.head(2)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (9,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

     id  ...                                                url
0  1035  ...  http://www.tate.org.uk/art/artworks/blake-a-fi...
1  1036  ...  http://www.tate.org.uk/art/artworks/blake-two-...

[2 rows x 20 columns]

In [0]:
df.columns

Index(['id', 'accession_number', 'artist', 'artistRole', 'artistId', 'title',
       'dateText', 'medium', 'creditLine', 'year', 'acquisitionYear',
       'dimensions', 'width', 'height', 'depth', 'units', 'inscription',
       'thumbnailCopyright', 'thumbnailUrl', 'url'],
      dtype='object')

In [0]:
# There are different types of capitalization in the column names. We need to clean them all 

df.columns = df.columns.str.lower()
df.columns

Index(['id', 'accession_number', 'artist', 'artistrole', 'artistid', 'title',
       'datetext', 'medium', 'creditline', 'year', 'acquisitionyear',
       'dimensions', 'width', 'height', 'depth', 'units', 'inscription',
       'thumbnailcopyright', 'thumbnailurl', 'url'],
      dtype='object')

In [0]:
# alternate way

df.columns = [x.upper() for x in df.columns]
df.columns

Index(['ID', 'ACCESSION_NUMBER', 'ARTIST', 'ARTISTROLE', 'ARTISTID', 'TITLE',
       'DATETEXT', 'MEDIUM', 'CREDITLINE', 'YEAR', 'ACQUISITIONYEAR',
       'DIMENSIONS', 'WIDTH', 'HEIGHT', 'DEPTH', 'UNITS', 'INSCRIPTION',
       'THUMBNAILCOPYRIGHT', 'THUMBNAILURL', 'URL'],
      dtype='object')

In [0]:
# yet another alternate way

df.columns = map(lambda x: x.lower(), df.columns)
df.columns

Index(['id', 'accession_number', 'artist', 'artistrole', 'artistid', 'title',
       'datetext', 'medium', 'creditline', 'year', 'acquisitionyear',
       'dimensions', 'width', 'height', 'depth', 'units', 'inscription',
       'thumbnailcopyright', 'thumbnailurl', 'url'],
      dtype='object')

# Renaming Columns

In [0]:
# inplace  =True sets the change to teh origina array
df.rename(columns = {'thumbnailurl': 'thumbnail'}, inplace = True)
df.head(2)

     id  ...                                                url
0  1035  ...  http://www.tate.org.uk/art/artworks/blake-a-fi...
1  1036  ...  http://www.tate.org.uk/art/artworks/blake-two-...

[2 rows x 20 columns]

In [0]:
df.rename(columns = lambda x: x.lower(), inplace = True)

In [0]:
df.columns = ['a', 'b', 'c', 'artistrole', 'artistid', 'title',
       'datetext', 'medium', 'creditline', 'year', 'acquisitionyear',
       'dimensions', 'width', 'height', 'depth', 'units', 'inscription',
       'thumbnailcopyright', 'thumbnailurl', 'url']
df.columns

Index(['a', 'b', 'c', 'artistrole', 'artistid', 'title', 'datetext', 'medium',
       'creditline', 'year', 'acquisitionyear', 'dimensions', 'width',
       'height', 'depth', 'units', 'inscription', 'thumbnailcopyright',
       'thumbnailurl', 'url'],
      dtype='object')

In [0]:
# changing names right when reading the csv. Must add header = 0 when we give the names parameter

df = pd.read_csv("https://github.com/tategallery/collection/raw/master/artwork_data.csv", names = ['id', 'accessionNumber', 'artist', 'artistRole', 'artistId', 'title',
       'dateText', 'medium', 'creditLine', 'year', 'acquisitionYear',
       'dimensions', 'width', 'height', 'depth', 'units', 'inscription',
       'thumbnailCopyRight', 'thumbnailUrl', 'url'], header = 0)
df.columns

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (9,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Index(['id', 'accessionNumber', 'artist', 'artistRole', 'artistId', 'title',
       'dateText', 'medium', 'creditLine', 'year', 'acquisitionYear',
       'dimensions', 'width', 'height', 'depth', 'units', 'inscription',
       'thumbnailCopyRight', 'thumbnailUrl', 'url'],
      dtype='object')

# Indexing and Filtering the dataset

We can eleminate unwanted details in the data and narrow down the data to only the things you want.

## Direct Filtering with Square brackets

In [0]:
df.head()['id']

0    1035
1    1036
2    1037
3    1038
4    1039
Name: id, dtype: int64

In [0]:
# We cannot access rows of a dataframe using []
# till index 4
df[['id', 'artist']][:4]

     id         artist
0  1035  Blake, Robert
1  1036  Blake, Robert
2  1037  Blake, Robert
3  1038  Blake, Robert

In [0]:
# can access a single row in a dataframe with a range tho

df[['id', 'medium']][1:2]

     id             medium
1  1036  Graphite on paper

In [0]:
df['year'].dtype

dtype('O')

# Data Indexing with .loc

Takes in row, col. If you want more of each, you can slice with the : operator. [] gets the values by teh integer positions. loc[] gets the values by the label.

loc[] is inclusive on he ending. [0:3] gives 0, 1, 2 AND 3

In [0]:
# row 2 and all the coumns
df.loc[2,:]

id                                                                 1037
accessionNumber                                                  A00003
artist                                                    Blake, Robert
artistRole                                                       artist
artistId                                                             38
title                 The Preaching of Warning. Verso: An Old Man En...
dateText                                                        ?c.1785
medium                      Graphite on paper. Verso: graphite on paper
creditLine                          Presented by Mrs John Richmond 1922
year                                                               1785
acquisitionYear                                                    1922
dimensions                                        support: 343 x 467 mm
width                                                               343
height                                                              467
depth                                                               NaN
units                                                                mm
inscription                                                         NaN
thumbnailCopyRight                                                  NaN
thumbnailUrl          http://www.tate.org.uk/art/images/work/A/A00/A...
url                   http://www.tate.org.uk/art/artworks/blake-the-...
Name: 2, dtype: object

In [0]:
# rows 1 to 3 and all cols
df.loc[1:4, :]

     id  ...                                                url
1  1036  ...  http://www.tate.org.uk/art/artworks/blake-two-...
2  1037  ...  http://www.tate.org.uk/art/artworks/blake-the-...
3  1038  ...  http://www.tate.org.uk/art/artworks/blake-six-...
4  1039  ...  http://www.tate.org.uk/art/artworks/blake-the-...

[4 rows x 20 columns]

In [0]:
# since loc[] operates on labels, can't do slicing in the columns. Have to specify the labels.
df.loc[0:2, ['artist', 'creditLine']]

          artist                           creditLine
0  Blake, Robert  Presented by Mrs John Richmond 1922
1  Blake, Robert  Presented by Mrs John Richmond 1922
2  Blake, Robert  Presented by Mrs John Richmond 1922

In [0]:
# only the rows we asked for
df.loc[[33, 55, 66], ['artist', 'medium']]

                               artist                                   medium
33                     Blake, William  Relief etching and watercolour on paper
55        British School 18th century                     Watercolour on paper
66  Burne-Jones, Sir Edward Coley, Bt                        Graphite on paper

In [0]:
# slice of columns
df.loc[1:3, 'id':'dateText']

     id  ...        dateText
1  1036  ...  date not known
2  1037  ...         ?c.1785
3  1038  ...  date not known

[3 rows x 7 columns]

In [0]:
# can even do filtering with loc
df.loc[df['artist'] == 'Blake, Robert'].head(2)

     id  ...                                                url
0  1035  ...  http://www.tate.org.uk/art/artworks/blake-a-fi...
1  1036  ...  http://www.tate.org.uk/art/artworks/blake-two-...

[2 rows x 20 columns]

In [0]:
# alternatively

df.loc[df.artist == 'Blake, Robert'].head(2)

     id  ...                                                url
0  1035  ...  http://www.tate.org.uk/art/artworks/blake-a-fi...
1  1036  ...  http://www.tate.org.uk/art/artworks/blake-two-...

[2 rows x 20 columns]

In [0]:
# artistRole and medium cols with artist == blake

df.loc[df.artist == 'Blake, Robert', ['artistRole', 'medium']]

  artistRole                                             medium
0     artist  Watercolour, ink, chalk and graphite on paper....
1     artist                                  Graphite on paper
2     artist        Graphite on paper. Verso: graphite on paper
3     artist                                  Graphite on paper

# iloc to access specific rows and columns

iloc uses inetger position instead of the labels.

In [0]:
df.iloc[0:2, 1:3]

  accessionNumber         artist
0          A00001  Blake, Robert
1          A00002  Blake, Robert

In [0]:
df.set_index('id', inplace = True)

In [0]:
df.iloc[0:2, 1:3]

             artist artistRole
id
1035  Blake, Robert     artist
1036  Blake, Robert     artist

# Filtering data with  str.contains

In [0]:
data = df[0:10]

In [0]:
# since it is a Series, we can apply str methods.
type(data.medium)

pandas.core.series.Series

In [0]:
data.medium

id
1035    Watercolour, ink, chalk and graphite on paper....
1036                                    Graphite on paper
1037          Graphite on paper. Verso: graphite on paper
1038                                    Graphite on paper
1039                              Line engraving on paper
1040                              Line engraving on paper
1041                              Line engraving on paper
1042                              Line engraving on paper
1043                              Line engraving on paper
1044                              Line engraving on paper
Name: medium, dtype: object

In [0]:
data.medium.str.contains('Graphite')

id
1035    False
1036     True
1037     True
1038     True
1039    False
1040    False
1041    False
1042    False
1043    False
1044    False
Name: medium, dtype: bool

In [0]:
# returns only the rows that holds true

data.loc[data.medium.str.contains('Graphite')]

     accessionNumber  ...                                                url
id                    ...
1036          A00002  ...  http://www.tate.org.uk/art/artworks/blake-two-...
1037          A00003  ...  http://www.tate.org.uk/art/artworks/blake-the-...
1038          A00004  ...  http://www.tate.org.uk/art/artworks/blake-six-...

[3 rows x 19 columns]

In [0]:
# year is not a string.

data.acquisitionYear.astype(str).str.contains('1922')

id
1035     True
1036     True
1037     True
1038     True
1039    False
1040    False
1041    False
1042    False
1043    False
1044    False
Name: acquisitionYear, dtype: bool

In [0]:
data.loc[data.acquisitionYear.astype(str).str.contains('1922')]

     accessionNumber  ...                                                url
id                    ...
1035          A00001  ...  http://www.tate.org.uk/art/artworks/blake-a-fi...
1036          A00002  ...  http://www.tate.org.uk/art/artworks/blake-two-...
1037          A00003  ...  http://www.tate.org.uk/art/artworks/blake-the-...
1038          A00004  ...  http://www.tate.org.uk/art/artworks/blake-six-...

[4 rows x 19 columns]

# Handling Bad, Missing and Duplicate Data

This is the last step we could do to clean our data to feed into our machine learning models. There are many types of errors we need to fix.

  1. Figure out what is bad data - missing data, values that haven't been parsed correctly or something else entirely. 
  2. Define the goal - API or machine learning model or data science.
  
  When you come across bad data, you either drop, fill or replace 'em with some specific data.
  Large dataset has large data problems. 
  
  # Stripping White Space

In [0]:
import pandas as pd

df = pd.read_csv("https://github.com/tategallery/collection/raw/master/artwork_data.csv", low_memory = False)

In [17]:
# detecting white space

df.loc[df.title.str.contains('\s$', regex = True)]

# These titles have atleast one white space.

          id  ...                                                url
49498   4308  ...  http://www.tate.org.uk/art/artworks/hamilton-f...
50534   2235  ...  http://www.tate.org.uk/art/artworks/clarke-boy...
50535   2236  ...  http://www.tate.org.uk/art/artworks/clarke-bui...
50537   2238  ...  http://www.tate.org.uk/art/artworks/clarke-pra...
53186  21168  ...  http://www.tate.org.uk/art/artworks/bourgeois-...
56283   5826  ...  http://www.tate.org.uk/art/artworks/hamilton-t...
67409  88191  ...  http://www.tate.org.uk/art/artworks/leach-2-st...
67432  88215  ...  http://www.tate.org.uk/art/artworks/leach-bowl...

[8 rows x 20 columns]

In [18]:
df.title = df.title.str.strip()
df.loc[df.title.str.contains('\s$', regex = True)]

#

Empty DataFrame
Columns: [id, accession_number, artist, artistRole, artistId, title, dateText, medium, creditLine, year, acquisitionYear, dimensions, width, height, depth, units, inscription, thumbnailCopyright, thumbnailUrl, url]
Index: []

In [0]:
# strips right side of the string
df.title = df.title.str.rstrip()
df.title = df.title.str.lstrip()

In [20]:
# or use transform function to strip.

df.title.transform(lambda x: x.strip())

0        A Figure Bowing before a Seated Old Man with h...
1        Two Drawings of Frightened Figures, Probably f...
2        The Preaching of Warning. Verso: An Old Man En...
3           Six Drawings of Figures with Outstretched Arms
4        The Circle of the Lustful: Francesca da Rimini...
5            Ciampolo the Barrator Tormented by the Devils
6                              The Baffled Devils Fighting
7        The Six-Footed Serpent Attacking Agnolo Brunel...
8                       The Serpent Attacking Buoso Donati
9                       The Pit of Disease: The Falsifiers
10                Dante Striking against Bocca Degli Abati
11                                      Job and his Family
12                          Satan before the Throne of God
13           Jobâ€™s Sons and Daughters Overwhelmed by Satan
14              The Messengers tell Job of his Misfortunes
15       Satan Going Forth from the Presence of the Lor...
16                       Satan Smiting Job with Sore Boils
17                                        Jobâ€™s Comforters
18                                           Jobâ€™s Despair
19                                   The Vision of Eliphaz
20                              Job Rebuked by his Friends
21                                       Jobâ€™s Evil Dreams
22                                      The Wrath of Elihu
23             The Lord Answering Job out of the Whirlwind
24                    When the Morning Stars Sang Together
25                                  Behemoth and Leviathan
26                                       The Fall of Satan
27                                    The Vision of Christ
28                                         Jobâ€™s Sacrifice
29                Every Man also Gave him a Piece of Money
                               ...
69171                                             Untitled
69172                                             Untitled
69173                                             Untitled
69174                      Unedited Material From the Star
69175                              Encyclopedia Britannica
69176                                          Composition
69177                                   Memory of a Square
69178                            Will We Ever Kill The Bug
69179                                          Aluminium 4
69180                                 Joints 4tet Ensemble
69181                                    The Eternal Frame
69182                                         Feature Film
69183                                             At Fault
69184                                    Three Vases. Fist
69185                                               biting
69186                                            breathing
69187                   Untitled (from the Gauguin Series)
69188                                          Light Music
69189           Coffee service and tray. Impressionist set
69190                                    Tropical Hangover
69191                                The Influence Machine
69192                                         NY, NY No. X
69193                                            sand girl
69194                     Venus Mound (from Tampax Romana)
69195     Itâ€™s That Time Of The Month (from Tampax Romana)
69196                          Larvae (from Tampax Romana)
69197                     Living Womb (from Tampax Romana)
69198                                        Present Tense
69199            Work No. 227: The lights going on and off
69200                     Dancing Scene in the West Indies
Name: title, Length: 69201, dtype: object

# Replacing Bad Data with NaN

In [21]:
import numpy as np

df.loc[:, ['dateText']].head(3)

# need to replace "date not known" to np.nan

         dateText
0  date not known
1  date not known
2         ?c.1785

In [0]:
df.replace({"dateText": {"date not known": np.nan}}, inplace = True)

In [23]:
df.loc[:, ['dateText']].head(3)

# NaN is replaced.

  dateText
0      NaN
1      NaN
2  ?c.1785

In [24]:
df.loc[df.year.notnull() & df.year.astype(str).str.contains('[^0-9]')].head(3)

# there is "no date" in the year column

          id  ...                                                url
67968  99332  ...  http://www.tate.org.uk/art/artworks/roberts-fa...
67980  99346  ...  http://www.tate.org.uk/art/artworks/roberts-pe...
67987  99354  ...  http://www.tate.org.uk/art/artworks/roberts-th...

[3 rows x 20 columns]

In [0]:
# always include the column name while doing this

df.loc[df.year.notnull() & df.year.astype(str).str.contains('[^0-9]'), ['year']] = np.nan

In [27]:
# year is changed to NaN
df.loc[67968:67969]

          id  ...                                                url
67968  99332  ...  http://www.tate.org.uk/art/artworks/roberts-fa...
67969  99333  ...  http://www.tate.org.uk/art/artworks/roberts-th...

[2 rows x 20 columns]

# Filling missing data with a value

In some cases, it is fitting to replace all the NaNs with some value, usually zero. ML models can't process NaNs. So, we replace 'em with something else.

In [32]:
# only fills na in depth column

df.fillna(value={'depth': 0}, inplace = True)
df.depth[67968: 67969]

# 0.0 is filled in the depth column.

67968    0.0
Name: depth, dtype: float64

# Dropping rows of data

In [33]:
df.shape

(69201, 20)

In [34]:
# drops if atleast 15 columns in te row are set to nan
df.dropna(thresh = 15).shape

(66569, 20)

In [35]:
# drop any row which has year OR acquisitionYear is NaN
df.dropna(subset = ['year', 'acquisitionYear']).shape

(63762, 20)

In [36]:
# year and acquisitionYear
df.dropna(subset = ['year', 'acquisitionYear'], how = 'all').shape

(69198, 20)

# Identifying and Dropping Duplicates

use inplace = True to set it to the original dataset.

In [37]:
df.shape

(69201, 20)

In [38]:
# drops if every single value matches every single value in a row
df.drop_duplicates().shape

(69201, 20)

In [39]:
df.drop_duplicates(subset = ['artist']).shape

(3336, 20)

In [40]:
# keeps the first row
df.drop_duplicates(subset = ['artist'], keep = 'first').shape

(3336, 20)

In [41]:
# deletes all dupicates

df.drop_duplicates(subset = ['artist'], keep = False).shape

(1446, 20)